body,
p {
  margin: unset;
}

h1,
h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

button {
  all: unset;
}

/* typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* css variable */
:root {
  --color-white: #fff;
  --color-gray-9: #999;
  --color-gray-6: #666;
  --color-gray-e: #eee;
  --color-black-3: #333;
  --color-black-4: #444;
  --color-black-1: 17 17 16;
}

.l_wrapper {
  padding: 16px;
}

/* components */

body {
  background-image: url(./images/background.png);
}

.section {
  background-color: var(--color-white);
  width: 1076px;
  margin: 271px auto;
  display: flex;
}
.section-sidebar {
  flex-shrink: 0;
  background-image: url(./images/sidebar-background.png);
  background-size: cover;
  height: 539px;
  width: 244px;
  position: relative;
}

.sidebar-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
  display: inline-block;
  border-bottom: 8px solid var(--color-black-4);
  margin-right: 27px;
  margin-bottom: 16px;
}

.sidebar-icon {
  width: 79px;
  height: 71.5px;
  position: absolute;
  top: 0px;
  right: 14px;
  margin-top: -10px;
}

.sidebar-description {
  color: var(--color-gray-9);
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 26px;
}

.sidebar-btn a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.16px;
  line-height: 1.2;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 6px;
}

.sidebar-btn a:last-child {
  margin-bottom: 0;
}

.btn-location {
  background-color: #0468ff;
  color: var(--color-white);
}

.btn-share {
  background-color: #d9d9d9;
  color: var(--color-black-3);
}

.section-main {
  flex-grow: 1;
}

.section-main h2 {
  color: var(--color-gray-6);
  font-size: 24px;
  font-weight: 700;
}

.main-about {
  height: 203px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid var(--color-gray-e);
  margin-bottom: 16px;
}

.main-header button {
  color: var(--color-gray-6);
  font-weight: 700;
  font-size: 10px;
  border-radius: 56px;
  width: 74px;
  height: 18px;
  background-color: var(--color-gray-e);
  text-align: center;
  padding: 4px 11px;
  margin-bottom: 7px;
}

.main-grid-src {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
}

.main-src {
  width: 120px;
  height: 120px;
}

.main-reviews {
  height: 303px;
}

.main-grid-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 250px;
}

.main-card {
  border-radius: 6px;
  padding: 16px;
  background-color: var(--color-gray-e);
  color: var(--color-black-3);
  font-size: 14px;
  line-height: 1.4;
  margin-right: 16px;
}

.main-card:last-child {
  margin-right: 0;
}
