/* Reset */
body,
ul,
p {
  margin: unset;
  padding: unset;
}

h1,
h2 {
  margin: unset;
  font-family: unset;
  font-weight: unset;
}

a {
  color: unset;
  text-decoration: unset;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

img {
  vertical-align: top;
}

hr {
  margin: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* layout */
.l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}

.l_col {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .l_col {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .l_col {
    width: 33.33333333%;
  }
}

/* Components */

body {
  background-color: #fff5ed;
}

.wrapper {
  margin: 100px auto;
  max-width: 1080px;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
}

.header-title {
  color: #f98173;
  font-weight: 500;
  flex-grow: 1;
  font-size: 40px;
}

.header-title_strong {
  position: relative;
}

.header-title_strong::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 60%;
  top: 22px;
  padding: 3px;
  z-index: -1;
}

.header-add {
  font-weight: 600;
  font-family: "Montserrat";
  background-color: #ff4500;
  color: white;
  font-size: 16px;
  padding: 0 14px;
  height: 3em;
  border-radius: 4px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.main {
  margin: 100px auto;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header {
  position: relative;
}

.card_badge {
  position: absolute;
  top: 0;
  left: 0;
}

.card-cover {
  width: 100%;
  border-bottom: 4px solid black;
}

.card-title {
  font-weight: 700;
  padding: 0 20px;
  flex-grow: 1;
}

.card-tags {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  background-color: #ebdbff;
  color: #6230a2;
  border-radius: 12px;
  padding: 0 12px;
}

.card-contents {
  font-size: 14px;
  margin: 20px;
  min-height: 110px;
}

.main hr {
  border: 4px solid #eee;
  width: 320px;
}

.card-footer {
  font-size: 14px;
  color: #999;
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
}

.card-footer p {
  flex-grow: 1;
  min-width: 110px;
  padding: 20px;
}

.card-footer p::before {
  content: "";
  background-color: #eee;
  width: 320px;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.circle {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}

.circle-icon {
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin-right: -9px;
}
